.icon-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(lighten($dark, 40%)),
    to($primary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-outline {
  color: #fff;
  -webkit-text-fill-color: #dddde1; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $secondary;
  opacity: 0.5;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-6x {
  font-size: 6em;
}

.icon-7x {
  font-size: 7em;
}

.icon-8x {
  font-size: 8em;
}

.icon-9x {
  font-size: 9em;
}
