.ig-toasted .toasted.bubble {
  & {
    border-radius: 15px;
    min-height: 68px;
    padding: 0 20px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }

  &.error {
    background: var(--danger-mixed);
    color: var(--danger);
  }
  &.success {
    background: var(--primary-mixed);
    color: var(--primary);
  }

  .action {
    color: var(--primary);
  }
}
