.dropdown-toggle.dropdown-toggle-no-caret::after {
  display: none !important;
}

.ig-title-dropdown {
  background-color: var(--secondary-mixed);
  color: var(--theme1);
  font-size: 14px;
  margin-bottom: 0.7rem;
}
