& {
  // Overwirte Bootstrap
  @import "~bootstrap/scss/mixins/_background-variant.scss";
  @import "~bootstrap/scss/utilities/_background.scss";
  @import "~bootstrap/scss/utilities/_borders.scss";
  @import "~bootstrap/scss/utilities/_text.scss";
  @import "~bootstrap/scss/_alert.scss";
  @import "~bootstrap/scss/_badge.scss";
  @import "~bootstrap/scss/_buttons.scss";
  @import "~bootstrap/scss/_breadcrumb.scss";
  @import "~bootstrap/scss/_card.scss";
  @import "~bootstrap/scss/_pagination.scss";
  @import "~bootstrap/scss/_progress.scss";
  @import "~bootstrap/scss/_tables.scss";
  @import "~bootstrap/scss/_list-group.scss";

  @import "../_background.scss";
  @import "../_badge.scss";
  @import "../_button.scss";
  @import "../_card.scss";
  @import "../_form.scss";
  @import "../_layout.scss";
  @import "../_link.scss";
  @import "../_scrollbar.scss";
  @import "../_sidemenu.scss";
  @import "../_section.scss";
  @import "../_header.scss";
  @import "../_text.scss";
  @import "../_root.scss";

  @include generate-root-colors();

  background: $theme-body-image;
  background-size: cover;
  color: #fff;

  .shadow,
  .card:not(.no-bg) {
    box-shadow: none !important;
  }
  .card:not(.no-bg) {
    opacity: $theme-card-opacity;
    transition: opacity 0.5s;
    &:hover {
      opacity: $theme-card-hover-opacity;
    }
  }

  code {
    color: lighten($primary, 30%);
  }

  .dropdown-menu {
    background-color: $theme1inv;
  }
  .dropdown-item:active,
  .dropdown-item:hover {
    background-color: $theme2inv;
  }
}
