@import "../base/_default-colors.scss";

$primary: #e5d8ec; //!default; //#51328e; //#672FB0; //
$secondary: #dfdfdf; //#766893; //$gray-600; //#6C618C;
$success: #f7f9dc;
$info: #cfe3f6;
$warning: #f4efd8;
$danger: #f0cac6;
$light: $gray-300; //$theme3;//
$dark: $gray-800;

$text-muted: #ffffff;

$theme1: #f0f0f0; //#462988;
$theme2: #e5deee;
$theme3: #d3c3e6; //Used also on light state and  text-muted class

//@import "./template/_bg-dark-image.scss";

$theme1inv: #675481;
$theme2inv: #74618e;
$theme3inv: #a296b3;

@import "./_default-dark-init.scss";

$theme-body-image: linear-gradient(to top right, #f0f1f6 0%, #755b83 100%);
$theme-card-opacity: 1;
$theme-card-hover-opacity: 1;

$theme-side-color: #675481;
$theme-side-bg: #ffffff;
$theme-side-bg2: #ffffff;
$theme-side-logo-bg: #ffffff;

@import "./_default-dark-export.scss";
