// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

:export {
  xs: map-get($breakpoints, xs);
  sm: map-get($breakpoints, sm);
  md: map-get($breakpoints, md);
  lg: map-get($breakpoints, lg);
}
